<% provide(:title, 'Sign Up') %>
<div class="starter-template">
<%=  form_for @user do |f|%>
	<%= f.text_field :email %>
	<%= f.text_field :password %>
	<%= f.text_field :password_confirmation %>
	<%= f.submit "Create Account" %>
<% end %>

</div>